/*  

To do :

Caroussel on the projets section
The journey section - Resume on scroll
Media icons : linkedin, github, FCC

*/

/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(70, 68, 68);
  background-color: #f3f3f3;
}

h1 {
  font-size: 50px;
}

h4 {
  font-size: 18px;
}

.section {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 15%;
  border-top: 1px solid #ddd;
  height: 100vh;
  overflow: hidden;
}

.btn {
  display: inline-block;
  background-color: #FB4949;
  color: whitesmoke;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 15px 50px;
  border-radius: 10px;
  cursor: pointer;
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 18px;
  font-weight: bold;
  color: #FB4949;
  border: none;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  margin: 10px 0;
}

p {
  color: rgb(104, 102, 102);
}

/* NAVIGATION */
.nav {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
  padding: 50px 4%;
  z-index: 5;
  border-bottom: 3px solid #FB4949;
  transition: 1s ease-in-out;
}

.nav__logo {
    height: 55px;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

.nav__item {
    margin: 0 25px;
}

.nav__link {
  font-size: 25px;
  color: inherit;
  text-decoration: none;
  transition: all .5s ease-in;
}

.nav__link--active {
  padding: 10px 50px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #FB4949;
  color: whitesmoke;
}

.nav__sticky {  
  position: fixed;
  padding: 0 15%;
  background-color: #37383D;
}

.nav__sticky .nav__link {
  font-size: 20px;
  color: whitesmoke;
}

.open__menu, .close__menu {
  display: none;
  color: transparent;
}

/* HEADER */

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
    padding: 0 15%;
    line-height: 1.4;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: start;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 50px;
    grid-template-areas:
      "header__main__text       header__img__text"
      "header__second__text     header__img__text";
  }
  
.header__main__text { grid-area: header__main__text; }
  
.header__second__text { grid-area: header__second__text; }
  
.header__img__text { 
  grid-area: header__img__text; 
  margin-left: auto; 
  max-width: 450px;  
  border-radius: 50%; 
  transition: all .5s ease-in;
}  

.header__img__text:hover {
  transform: scale(1.05);
}

.highlight {
  position: relative;
  color: whitesmoke;
  padding: 0 5px;
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 10px;
  background-color: #FB4949;
}

/* PROJECTS */

.slider__project {
  margin-top: 5%;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.slide__project {
  position: absolute;
  transition: transform 1s;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.project {
  position: relative;
  border-radius: 10px;
}

.project__description {
  position: absolute;  
  height: 100%;
  transition: all 1.5s;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  z-index: 1;  
  padding: 4% 12%;
  opacity: 0;
  border-radius: 10px;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 50px;
  grid-template-areas:
    "project__title project__tech"
    "project__info project__mini__img__1"
    "project__info project__mini__img__2";
}

.project__title { 
  grid-area: project__title; 
  font-weight: bold;
  font-size: 40px;
}

.project__tech { 
  grid-area: project__tech;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  margin: 0 50px;
}

.project__info { 
  grid-area: project__info; 

}

.project__text { 
  color: whitesmoke;
  font-size: 16px;
}

.project__link {
  font-size: 50px;
  color: whitesmoke;
}

.project__img { 
  filter: blur(0px);
  transition: all 1.5s;
  max-width: 80vw;
  max-height: 70vh;
  border-radius: 10px;
  opacity: 0.9;
}

.project:hover .project__img {
  filter: blur(8px);
  transition: all 1.5s;
}

.project:hover .project__description {
  transition: all 1.5s;
  opacity: 1;
}

.project__mini__img__1 { 
  grid-area: project__mini__img__1;
  max-width: 80%; 
  margin: auto;
  border-radius: 10px;
}

.project__mini__img__2 { 
  grid-area: project__mini__img__2;  
  width: 80%; 
  margin: auto;
  border-radius: 10px;
}

.slider__project__btn {
  z-index: 2;
  border: none;
  background: #FB4949;
  color: #333;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  cursor: pointer;
  margin: 4% -40px 0 -40px;
}

/* JOURNEY */

.container__journey {
  width: 100%;
}

.period__link {
  color: inherit;
  text-decoration: none;
  transition: all .5s ease-in;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.period__link--active {
  font-size: 25px;
  padding: 10px 50px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #FB4949;
  color: whitesmoke;
}

.periods__links {
  min-height: 7vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 0 15%;
}

.periods__contents {
  padding: 5%;
  min-height: 50vh;
  background-color: #37383d;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: whitesmoke;
  font-size: 18px;
}

.periods__contents p {
  color: whitesmoke;
}

.periods__contents li {
  margin: 0 5%;
}

.period__content {
  display: none;
  min-height: 50vh;

}

.period__content--active { 
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 10%;
  grid-template-areas:
    "period__title period__text"
    "period__icon period__text";
}

.period__title {
  grid-area: period__title;
}

.period__title__main {
  font-size: 40px;
}

.period__title__subtitle {
  margin-top: 10px;
  font-size: 20px;
}

.period__icon {
  grid-area: period__icon;
}

.period__text {
  grid-area: period__text;
  text-align: left;
}

/* FOOTER */

.footer {
    background-color: #37383d;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.footer__link, .footer__copyright{
    font-size: 14px;
    color: #aaa;
    text-align: center;
    padding: 10px;
}

/* RESPONSIVE */

@media (max-width: 1900px) and (min-width: 1000px) {
  h1 {
    font-size: 35px;
  }

  .header__img__text { 
    max-width: 300px;  
  }
}

@media (max-width: 1000px) {

  h1 {
    font-size: 30px;
  }
  
  h4 {
    font-size: 14px;
  }

  .section {
    padding: 15% 8%;
    border-top: 1px solid #ddd;
  }

  #projects {
    height: auto;
  }

  .header__title {
    grid-template-columns: 1fr;
    gap: 10vh;
    grid-template-areas:
      "header__main__text"
      "header__second__text";
  }

  .header__img__text {
    display: none;
  }

  .open__menu {
    font-size: 40px;
    color: #FB4949;
    cursor: pointer;
    display: block;
  }

  .close__menu {
    font-size: 40px;
    color: #FB4949;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
  }

  .nav__links {
    background-color: #37383d;
    height: 100vh;
    position: fixed;
    top: -100vh;
    right: 0;
    left: 0;
    z-index: 5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 1.5s ease;
  }

  .nav__item {
    margin: 35px;
    color: whitesmoke;
  }

  .slider__project {
    display: flex;
    flex-direction: column;
    overflow: initial;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
  }
  
  .slide__project {
    position: unset;
    transition: transform 1s;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 20px 0;
  }

  .project__description {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "project__title"
      "project__info";
  }

  .slider__project__btn, .project__text, .project__tech, .project__mini__img__1, .project__mini__img__2, .period__icon {
    display: none;
  }

  .period__link {
    font-size: 14px;
    padding: 5px;
  }

  .periods__links {
    min-height: 10vh;
    margin: 0;
  }

  .periods__contents {
    min-height: 70vh;
    padding: 10%;
  }

  .period__content--active { 
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.6fr;
    gap: 20px;
    grid-template-areas:
      "period__title"
      "period__text";
  }
}