/*  

To do :

Caroussel on the projets section
The journey section - Resume on scroll
Media icons : linkedin, github, FCC

*/

/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(70, 68, 68);
  background-color: #f3f3f3;
}

h1 {
  font-size: 40px;
}

h4 {
  font-size: 18px;
}

.section {  
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10% 15%;
  border-top: 1px solid #ddd;
  height: 100vh;
}

.section__title {
  margin: 0;
}

.section__header {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FB4949;
}

.section__description {
  font-size: 20px;
  line-height: 2;
  font-weight: 500;
  
}

.btn {
  display: inline-block;
  background-color: #FB4949;
  color: whitesmoke;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 15px 50px;
  border-radius: 10px;
  cursor: pointer;
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 18px;
  font-weight: bold;
  color: #FB4949;
  border: none;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  margin: 10px 0;
}

p {
  color: rgb(104, 102, 102);
}

/* NAVIGATION */
.nav {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
  padding: 50px 4%;
  z-index: 100;
  border-bottom: 3px solid #FB4949;
  transition: .5s ease-in-out;
}

.nav__logo {
    height: 55px;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

.nav__item {
    margin: 0 25px;
}

.nav__link {
  font-size: 25px;
  color: inherit;
  text-decoration: none;
  transition: all .5s ease-in;
}

.nav__link--active {
  padding: 10px 50px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #FB4949;
  color: whitesmoke;
}

.nav__link:hover, .nav__link--active {
  padding: 10px 50px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #FB4949;
  color: whitesmoke;
}

.nav__sticky {  
  position: fixed;
  padding: 0 15%;
  background-color: #37383D;
}

.nav__sticky .nav__link {
  font-size: 20px;
  color: whitesmoke;
}

.open__menu, .close__menu {
  display: none;
  color: transparent;
}

/* HEADER */
.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
    padding: 0 15%;
    line-height: 1.4;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: start;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 50px;
    grid-template-areas:
      "header__main__text       header__img__text"
      "header__second__text     header__img__text";
  }
  
.header__main__text { grid-area: header__main__text; }
  
.header__second__text { grid-area: header__second__text; }
  
.header__img__text { grid-area: header__img__text; margin: 0 auto;}  

.highlight {
  position: relative;
  color: whitesmoke;
  padding: 0 5px;
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 10px;
  background-color: #FB4949;
}

/* PROJECTS */

.project {
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  gap: 10px 50px;
  grid-template-areas:
    "project__title   project__title"
    "project__text    project__img"
    "project__tech    project__img";
}

.project__title { 
  grid-area: project__title; 
  font-weight: bold;
  background-color: #FB4949;
  color: whitesmoke;
}

.project__img { grid-area: project__img; }

.project__text { grid-area: project__text; }

.project__tech { grid-area: project__tech; }

/* FOOTER */
.footer {
    background-color: #37383d;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.footer__link, .footer__copyright{
    font-size: 14px;
    color: #aaa;
    text-align: center;
    padding: 10px;
}

/* RESPONSIVE */

@media (max-width: 1000px) {

  h1 {
    font-size: 30px;
  }
  
  h4 {
    font-size: 14px;
  }

  .section {
    padding: 20% 15%;
    border-top: 1px solid #ddd;
    height: 100vh;
  }

  .header__title {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header__main__text"
      "header__second__text";
  }

  .header__img__text {
    display: none;
  }

  .open__menu {
    font-size: 40px;
    color: #FB4949;
    cursor: pointer;
    display: block;
  }

  .close__menu {
    font-size: 40px;
    color: #FB4949;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
  }

  .nav__links {
    background-color: #37383d;
    height: 100vh;
    position: fixed;
    top: -100vh;
    right: 0;
    left: 0;
    z-index: 10000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 1.5s ease;
  }

  .nav__item {
    margin: 35px;
    color: whitesmoke;
  }
}